@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Orbitron", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);

    margin: 0 auto;
    border: 1px solid lightgray;
    background-image: url("./background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header {
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    background-color: #6a006a;
    background: rgba(128, 0, 128, 0.35); /* mov transparent */
    backdrop-filter: blur(12px);
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 0 -4px 15px rgba(168, 0, 0, 0.5);
    transition: all 0.3s ease;
    z-index: 1000;
  }

  .infoCursa {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    font-size: 14px;
  }

  .infoItem {
    font-weight: bold;
    text-transform: lowercase;
  }

  .tabelCursa {
    margin-top: 110px;
    margin-bottom: 60px;
    width: 100%;
    border-collapse: collapse;
  }

  .tabelCursa th,
  .tabelCursa td {
    border: none;
    padding: 8px;
    text-align: center;
  }

  .tabelCursa th {
    background-color: transparent;
  }

  .footer {
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: -1px;
    height: 60px;
    background: #a22fd3;
    background-size: 600% 600%;
    animation: gentleWave 12s ease-in-out infinite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 -4px 15px rgba(168, 0, 0, 0.5);
    z-index: 1000;
  }

  .footerButton {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (min-width: 601px) and (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Orbitron", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);

    margin: 0 auto;
    border: 1px solid lightgray;
    background-image: url("./background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header {
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    background-color: #6a006a;
    background: rgba(128, 0, 128, 0.35); /* mov transparent */
    backdrop-filter: blur(12px);
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 0 -4px 15px rgba(168, 0, 0, 0.5);
    transition: all 0.3s ease;
    z-index: 1000;
  }

  .infoCursa {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    font-size: 14px;
  }

  .infoItem {
    font-weight: bold;
    text-transform: lowercase;
  }

  .tabelCursa {
    width: 100%;
    border-collapse: collapse;
  }

  .tabelCursa th,
  .tabelCursa td {
    border: none;
    padding: 8px;
    text-align: center;
  }

  .tabelCursa th {
    background-color: transparent;
  }
  .footer {
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: -1px;
    height: 60px;
    background: #a22fd3;
    background-size: 600% 600%;
    animation: gentleWave 12s ease-in-out infinite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 -4px 15px rgba(168, 0, 0, 0.5);
    z-index: 1000;
  }
  .footerButton {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
  .glass-box {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Orbitron", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);

    margin: 0 auto;
    border: 1px solid lightgray;
    background-image: url("./background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header {
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    background-color: #6a006a;
    background: rgba(128, 0, 128, 0.35); /* mov transparent */
    backdrop-filter: blur(12px);
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 0 -4px 15px rgba(168, 0, 0, 0.5);
    transition: all 0.3s ease;
    z-index: 1000;
  }

  .infoCursa {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    font-size: 14px;
  }

  .infoItem {
    font-weight: bold;
    text-transform: lowercase;
  }

  .tabelCursa {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .tabelCursa th,
  .tabelCursa td {
    border: none;
    padding: 8px;
    text-align: center;
  }

  .tabelCursa th {
    background-color: transparent;
  }

  .footer {
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: -1px;
    height: 60px;
    background: #a22fd3;
    background-size: 600% 600%;
    animation: gentleWave 12s ease-in-out infinite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 -4px 15px rgba(168, 0, 0, 0.5);
    z-index: 1000;
  }

  .footerButton {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }

  .glass-box {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
